footer {
  width: 100vw;
  height: 18.75rem; /* 300px / 16px = 18.75rem */
  padding: 2.5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #facc15;
  align-items: center;
  /* justify-content: center; */
}
.talkdiv span {
  font-size: 3rem;
  font-weight: 700;
  /* cursor: pointer; */
}
.icondiv {
  display: flex;
  gap: 2rem;
}
.icondiv div {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.icon {
  font-size: 2rem;
}
.icondiv div span:nth-child(2) {
  color: #fff;
}
